<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Crear Estrella</title>
</head>

<body>
    <div class="formcontainer">
        <h1>Crear Estrella</h1>
        <form action="#" th:action="@{/estrella/crear}" th:object="${estrella}" method="post">
            
            <label for="estrellaNombre">Nombre: </label>
            <input type="text" th:field="*{nombre}" id="estrellaNombre" required>
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
                th:class="${#fields.hasErrors('nombre')} ? 'error' : ''"></span>
            
            <label for="estrellaCoordX">Coordenada X: </label>
            <input type="text" th:field="*{coord_x}" id="estrellaCoordX" required>
            <span th:if="${#fields.hasErrors('coord_x')}" th:errors="*{coord_x}"
                th:class="${#fields.hasErrors('coord_x')} ? 'error' : ''"></span>

            <label for="estrellaCoordY">Coordenada Y: </label>
            <input type="text" th:field="*{coord_y}" id="estrellaCoordX" required>
            <span th:if="${#fields.hasErrors('coord_y')}" th:errors="*{coord_y}"
                th:class="${#fields.hasErrors('coord_y')} ? 'error' : ''"></span>
            
            <label for="estrellaCoordZ">Coordenada Z: </label>
            <input type="text" th:field="*{coord_z}" id="estrellaCoordZ" required>
            <span th:if="${#fields.hasErrors('coord_z')}" th:errors="*{coord_z}"
                th:class="${#fields.hasErrors('coord_z')} ? 'error' : ''"></span>

            <button type="submit">CREAR</button>
        </form>
    </div>
    
    

    <a th:href="@{/estrella/menu}">Cancelar</a>
</body>

</html>