<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Editar producto</title>
</head>

<body>
    <div class="formcontainer">
        <h1>Editar Producto</h1>
        <form action="#" th:action="@{/producto/guardar}" th:object="${producto}" method="post">
            <input type="hidden" th:field="*{id}" id="id">
            
            <label for="productoNombre">Nombre: </label>
            <input type="text" th:field="*{nombre}" id="productoNombre" required>
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
                th:class="${#fields.hasErrors('nombre')} ? 'error' : ''"></span>
            
            <label for="productoVolumen">Volumen: </label>
            <input type="text" th:field="*{volumen}" id="productoCoordX" required>
            <span th:if="${#fields.hasErrors('volumen')}" th:errors="*{volumen}"
                th:class="${#fields.hasErrors('volumen')} ? 'error' : ''"></span>

            <button type="submit">Enviar</button>
        </form>
    </div>
    
    

    <a th:href="@{/producto/menu}">Cancelar</a>
</body>

</html>