<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Tipos de Nave</title>
</head>
<body>
    <h1>Listado de Tipos de Nave</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="avatar : ${avatar}">
                <td style="padding-left: 20px;" th:text="${avatar.id}"></td>
                <td style="padding-left: 20px;" th:text="${avatar.nombre}"></td>
                <td style="padding-left: 20px;" th:text="${avatar.imagen}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
