<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>MENU GENERAL</title>
</head>

<body>
    <div class="formcontainer">
        <h1>MENU</h1>
        <a th:href="@{/estrella/menu}">ESTRELLA</a>
        <a th:href="@{/planeta/menu}">PLANETA</a>
        <a th:href="@{/stock-planeta/menu}">STOCK PLANETA</a>
        <a th:href="@{/producto/menu}">PRODUCTO</a>
        <a th:href="@{//menu}">TIPO NAVE</a>
        <a th:href="@{//menu}">NAVE</a>
        <a th:href="@{//menu}">JUGADOR</a>
        <a th:href="@{//menu}">BODEGA</a>
    </div>
    
</body>

</html>