#html_body {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/espacio.jpg');
    background-size: cover;
    background-position: center;
}

* {
    margin: 0;
    padding: 0;
    position: relative;
}

/*------------------------*/
.navbar {
    display: flex;
    justify-content: space-between;
    font-family: 'Koulen';
    align-items: center;
    padding: 10px;
    background-color: rgba(51, 51, 51, 0.7);
    color: white;
}

.navbar * {
    letter-spacing: 3px;
}

.left-buttons, .right-buttons {
    display: flex;
}

.right-buttons {
    margin-left: auto;
}

.button-with-image {
    display: flex;
    align-items: center;
    background:none;
    color: white;
    border: none;
    padding: 0px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.button-with-image img {
    margin-right: 10px;

}

#navUsuario img {
    height: 50px;
    width: 50px;
}

/*----------------*/
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    color: #FFF;
}

.space-evenly { 
    justify-content: space-evenly; 
}

.bottomBar {
    position: fixed;
    width: 100vw;
    bottom: 100px;
}

.bottomBar li button {
    font-family: 'Koulen';
    letter-spacing: 3px;
    margin: 0 -10px;
    padding: 7.5px 80px;
    border-radius: 10px;
    border: 1px solid #FFF;
}

#botonBottom {
    color: #FFF;
    background: none;
    border: none;
}

.estrella1 {
    position: fixed;
    top: 20vh;
    left: 45vw;
}

.estrella1 img {
    width: 150px;
    height: 150px;
}

.estrella1 p {
    position: fixed;
    margin-top: 30px;
    font-family: 'Koulen';
    letter-spacing: 3px;
    font-size: 24px;
    top: 35vh;
    left: 40vw;
}


.estrella2 {
    position: fixed;
    top: 30vh;
    left: 25vw;
}

.estrella2 img {
    width: 150px;
    height: 150px;
}

.estrella2 p {
    position: fixed;
    margin-top: 30px;
    font-family: 'Koulen';
    letter-spacing: 3px;
    font-size: 24px;
    top: 45vh;
    left: 20vw;
}

.estrella3 {
    position: fixed;
    top: 35vh;
    left: 70vw;
}

.estrella3 img {
    width: 150px;
    height: 150px;
}

.estrella3 p {
    position: fixed;
    margin-top: 30px;
    font-family: 'Koulen';
    letter-spacing: 3px;
    font-size: 24px;
    top: 50vh;
    left: 65vw;
}

.estrella1:hover, .estrella2:hover, .estrella3:hover {
    cursor: pointer;
}

.habitado {
    margin-top: 55px !important;
    font-size: 14px !important;
}

.seleccionado {
    color: goldenrod;
    text-shadow: 3px 3px #3b1d00;
}

.noDisponible {
    background-color: #3e3e3e71;
    border: none !important;
    color: #838383bc;
    cursor: not-allowed !important;
}

.disponible {
    cursor:pointer;
}

/*
.estrella2 {
    top: 5vh;
    right: 350px;
}

.estrella2 img {
    width: 150px;
    height: 150px;
}

.estrella2 p {
    margin-top: 30px;
    font-family: 'Koulen';
    letter-spacing: 3px;
    font-size: 24px;
}

.estrella3 {
    top: -15vh;
    right: -350px;
}

.estrella3 img {
    width: 150px;
    height: 150px;
}

.estrella3 p {
    margin-top: 30px;
    font-family: 'Koulen';
    letter-spacing: 3px;
    font-size: 24px;
}

*/

.anuncio {
    margin-top: 20vh;
    margin-left: 35vw;
    width: 30vw;
    height: 300px;
    background-color: #9d9c9c98;
    text-align: center;
    color: #FFf;
  }
  
  .anuncio p {
    height: 100%;
    padding-top: 140px;
    font-family: 'Koulen';
    font-size: 125%;
  }