<div id="html_body">
    <div class="nav">
        <img src="../../assets/logo.png" alt="logo" class="logo">
    </div>
    <!--
    <table>
        <thead>
            <tr>
                <th>xxxxxxxxxxx</th>
                <th>xxxxxxxxxxx</th>
                <th>xxxxxxxxxxx</th>
                <th>xxxxxxxxxxx</th>
                <th>Nombre</th>
                <th>Credito</th>
                <th>Tiempo</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let nave of naves">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{nave.nombre}}</td>
                <td>{{nave.volBodega}}</td>
                <td>{{nave.velocidad}}</td>
                <td>{{nave.foto}}</td>
            </tr>
        </tbody>
    </table>
    -->
    <p id="titulo">Seleccionar Nave</p>
    <ul class="flex-container space-between">
        <li class="btn" (click)="anteriorNave()"><</li>
            <ul class="contenido flex-container center">
                <li class="imagen">
                    <img src="../../assets/spaceship.jpg">
                </li>
                <li class="descripcion">
                    <div class="informacion">
                        <div class="infoText">
                            <p class="inputName">Nombre de la nave: </p>
                            <input type="text" id="nombreNave">
                        </div>
                        <br>
                        <br>
                        <p class="inputName">Caracteristicas:</p>
                        <p>TipoNave: <span>{{actual.nombre}}</span></p>
                        <p>Capacidad bodega: <span>{{actual.volBodega}}</span></p>
                        <p>Velocidad: <span>{{actual.velocidad}}</span></p>
                        <hr>
                        <p class="importante">Importante: Cuando eliges crear una tripulacion, automaticamente te conviertes en el capitan de tu nave</p>
                    </div>
                    <div class="btnSeleccionar">
                        <button>
                            Seleccionar nave
                        </button>
                    </div>
                </li>
                
            </ul>
        <li class="btn" (click)="siguienteNave()">></li>
      </ul>
</div>
