<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Crear Tipo Nave</title>
</head>

<body>
    <div class="formcontainer">
        <h1>Crear Tipo Nave</h1>
    </div>
    <form action="#" th:action="@{/tipoNave/crear}" th:object="${tipoNave}" method="post">
        
        <label for="tipoNaveNombre">Nombre: </label>
        <input type="text" th:field="*{nombre}" id="tipoNaveNombre" required>
        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
            th:class="${#fields.hasErrors('nombre')} ? 'error' : ''"></span>
        
        <label for="tipoNavevolBodega">volBodega: </label>
        <input type="number" min="0" step="any" th:field="*{volBodega}" id="tipoNavevolBodega" required>
        <span th:if="${#fields.hasErrors('volBodega')}" th:errors="*{volBodega}"
            th:class="${#fields.hasErrors('volBodega')} ? 'error' : ''"></span>

        <label for="tipoNavevelocidad">velocidad: </label>
        <input type="number" min="0" step="any" th:field="*{velocidad}" id="tipoNavevelocidad">
        <span th:if="${#fields.hasErrors('velocidad')}" th:errors="*{velocidad}"
            th:class="${#fields.hasErrors('velocidad')} ? 'error' : ''"></span>
        
        <label for="tipoNavefoto">foto: </label>
        <input type="text" th:field="*{foto}" id="tipoNavefoto" required>
        <span th:if="${#fields.hasErrors('foto')}" th:errors="*{foto}"
            th:class="${#fields.hasErrors('foto')} ? 'error' : ''"></span>

        <button type="submit">CREAR</button>
    </form>
    

    <a th:href="@{/tipoNave/menu}">Atras</a>
</body>

</html>