<div class="nav">
    <img src="../../assets/logo.png" alt="logo" class="logo">
    <div class="navlinks">
        <a href="" routerLink="/" class="navLink" id="inicio">INICIO</a>
        <a href="" routerLink="/registro" class="navLink" id="registrarse">REGISTRARSE</a>
        <a href="" routerLink="/iniciarsesion" class="navLink" id="iniciarSesion">INICIAR SESION</a>
        <a href="" routerLink="/acerca" class="navLink">ACERCA DEL JUEGO</a>
    </div>
    <img src="../../assets/github.png" alt="logo" id="github">
</div>
