
<div id="iniciarSesionDiv">
    <app-barra-menu />
    <div id="loginBlock">
        <h2 id="title">INICIAR SESION</h2>
        <form id="loginForms" (ngSubmit)="iniciarSesion()">
            <input class="loginInput" type="text" name="nombre-de-usuario" id="txtNombreUsuario" [(ngModel)]="jugadorLogIn.nombre" placeholder="nombre de usuario">
            <input class="loginInput" type="password" name="apellido" id="txtApellido" [(ngModel)]="jugadorLogIn.contrasena " placeholder="contrasena">
            <button type="submit" id="IniciarSesionButton">
                <span class="button-content"> Iniciar sesion </span> 
            </button>
        </form>
    </div>
</div>  