<div id="html_body">
    <app-barra-estadisticas/>

    <div class="tituloItems">
        <button>Items bodega</button>
    </div>
    <div class="flexbox" >
        <div *ngFor="let producto of productosBodegaNave" (click)="mostrarInformacion(producto)">
            <img [src]="producto.imagen" alt="Imagen del botón">
        </div>
    </div>
    <diV class="imagenProductoSeleccionado" *ngIf="seleccionado">
        <img [src]="productoSeleccionado.imagen" alt="Imagen del botón">
    </diV>
    <diV class="infoProductoSeleccionado" *ngIf="seleccionado">
        <p>Id Producto:</p>
        <p class="resultado">{{productoSeleccionado.id}}</p>

        <p>Nombre Producto:</p>
        <p class="resultado">{{productoSeleccionado.nombre}}</p>

        <p>Cantidad:</p>
        <p class="resultado">{{productoSeleccionado.cantidad}}</p>
        
        <p>Espacio ocupado en bodega</p>
        <p class="resultado">{{productoSeleccionado.espacio}}</p>
    </diV>
    <diV class="botonRegresar">
        <button (click)="regresar()">Regresar</button>
    </diV>
</div>
