<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Buscar planeta</title>
</head>

<body>

    <form method="get" action="#" th:action="@{/planeta/search}">
        <label for="searchText">Buscar por nombre</label>
        <input type="text" id="searchText" name="searchText">
        <button type="submit">Buscar</button>
    </form>
    <a th:href="@{/planeta/menu}">Atras</a>

    <h1>Planetas encontrados</h1>
    <table class="entity-list">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Habitado</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="planeta : ${planetas}" th:if="${planeta.nombre}">
                <td th:text="${planeta.id}"></td>
                <td th:text="${planeta.nombre}"></td>
                <td th:text="${planeta.habitado}"></td>
                <td>
                    <a th:href="@{/planeta/ver/{id}(id=${planeta.id})}">Ver</a>
                </td>
                <td>
                    <a th:href="@{/planeta/editar/{id}(id=${planeta.id})}">Editar</a>
                </td>
                <td>
                    <a th:href="@{/planeta/borrar-form/{id}(id=${planeta.id})}">Borrar</a>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>