<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Productos</title>
</head>
<body>
    <h1>Listado de Productos</h1>
    <a th:href="@{/producto/menu}">Atras</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Volumen</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="producto : ${producto}">
                <td style="padding-left: 20px;" th:text="${producto.id}"></td>
                <td style="padding-left: 20px;" th:text="${producto.nombre}"></td>
                <td style="padding-left: 20px;" th:text="${producto.volumen}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
