<div id="fondo">
    <img id="logo" src="../../assets/logo.png" alt="logo" class="logo" width="40px" height="40px">
    
    <div id="cuadrado">
        <h3>UNIRSE A UNA TRIPULACION</h3>
        <div id="scroll">
            <table class="titleTable">
                <thead>
                    <tr class="headerRow">
                        <th class="headerCapitan">Capitan</th>
                        <th class="headerNave">Nombre de la nave</th>
                        <th class="headerCantidad">Tripulacion</th>
                    </tr>
                </thead>
            </table>
            <div id="contentTableDiv">
                <table class="contentTable">
                    <tbody>
                        <tr class="contentRow" *ngFor="let tripulacion of tripulaciones; let i = index" 
                        (click)="tripulacion.cantidadTripulantes !== 20 && asignarTripulacion(tripulacion.nave.id); seleccionarFila(i);
                        tripulacion.cantidadTripulantes == 20 && NotificarTripulacionLlena()" 
                        [ngClass]="{'seleccionada': selectedRowIndex === i}">
                            <td class="contentCapitan">{{ tripulacion.capitan }}</td>
                            <td class="contentNave">{{ tripulacion.nave.nombre }}</td>
                            <td class="contentCantidad">{{ tripulacion.cantidadTripulantes }}/20</td>
                         </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div id="seleccionados">
            <div class="radio-inputs">
                <label>
                    <input class="radio-input" type="radio" name="engine" value="comerciante" [(ngModel)]="patchRolNave.rol">
                    <span class="radio-tile">
                        <span class="radio-icon"></span>
                        <span class="radio-label">Comerciante</span>
                    </span>
                </label>
                <label>
                    <input class="radio-input" type="radio" name="engine" value="piloto" [(ngModel)]="patchRolNave.rol">
                    <span class="radio-tile">
                        <span class="radio-icon"></span>
                        <span class="radio-label">Piloto</span>
                    </span>
                </label>
            </div>
            <div></div>
            <button  id="unirseButton" (click)="unirse()">
                <span class="button-content"> Unirse</span>
            </button>
        </div>

    </div>

</div>
