#fondo
{
    width: 100vw;
    height: 100vh;
    padding-left: 30px;
    background-image: url('../../assets/saturn_athmosphere.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

#logo
{
    margin-top: 10px;
}

#cuadrado
{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 133, 137, 0.574);
    backdrop-filter: blur(3px);
    width: 650px;
    height: 550px;
    align-self: center;
    border-radius: 10px;
    gap: 5px;
}

a, button, h3,p,span, th {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Koulen'; 
}


#unirseButton {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
#unirseButton:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  #unirseButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgb(112, 136, 233) 10.8%,
      rgb(32, 58, 209) 94.3%
    );
    transition: all 0.475s;
  }
  
  .radio-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .radio-inputs > * {
    margin: 6px;
  }
  
  .radio-input:checked + .radio-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #2260ff;
  }
  
  .radio-input:checked + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #2260ff;
    border-color: #2260ff;
  }
  
  .radio-input:checked + .radio-tile .radio-icon svg {
    fill: #2260ff;
  }
  
  .radio-input:checked + .radio-tile .radio-label {
    color: #2260ff;
  }
  
  .radio-input:focus + .radio-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
  }
  
.radio-input:focus + .radio-tile:before {
  transform: scale(1);
  opacity: 1;
}

.radio-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  min-height: 40px;
  border-radius: 0.5rem;
  border: 2px solid #0a0b0d;
  background-color: #1d0303;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.radio-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
}

.radio-tile:hover {
  border-color: #2260ff;
}

.radio-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.radio-icon svg {
  width: 2rem;
  height: 2rem;
  fill: #494949;
}

.radio-label {
  color: #e8e8e8;
  transition: 0.375s ease;
  text-align: center;
  font-size: 13px;
}
  
.radio-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#seleccionados
{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 5px;
  align-items: end;
  width: 80%;
}

#seleccionados > * {
  align-self: flex-end; /* Para que cada elemento se posicione en la parte inferior */
}

#contentTableDiv
{
  max-height: 250px;
  overflow-y: scroll;
  border-radius: 10px;
  background-color: #7672726c;
  padding-right: 1px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0e0c12;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  margin-top: 2px;
  margin-bottom: 2px;
}

.contentTable
{
  width: 500px;
  border-radius: 10px;
}

table {
  border-collapse: collapse; 
  width: 100%; 
}
td, th {
  border-bottom: 1px solid var(--color-primary-300);
  font-size: 1rem;
  text-align: left;
  white-space: nowrap;
}
th { 
  padding: 1rem 1.5rem;
  text-align: center;
}
td { padding-bottom: 1rem; padding-top: 1rem; }

tr
{
  border-radius: 10px;
}

.headerNave,.contentNave,.headerCapitan,.contentCapitan
{
  width: 100px;
}

.contentCapitan
{
  padding-left: 15px;
}

.headerCantidad,.contentCantidad
{
  width: 40px;
}

.table-footer, .table-header { font-size: .875rem; }
.table-footer { margin: -1.5rem 0 0; }
.table-header { margin: 0 0 1rem; }

.table-footer.grid,
.table-header.grid {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.contentRow:hover
{
  background-color: #55555c68;
} 

.contentRow.seleccionada {
  background-color: rgba(151, 94, 192, 0.365); /* Cambia al color deseado */
}