
<div class="ordenacionHorizontalDiv" id="bloquePrincipal">
    <div>
        <h2 class="cuadrado" id="titulo2" *ngIf="this.informacionRecibir[0] === 2">Vender producto</h2>
        <h2 class="cuadrado" id="titulo1" *ngIf="this.informacionRecibir[0] === 1">Comprar producto</h2>
        <div class="cuadrado" id="fotoProducto">
            <img [src]="producto.imagen" alt="foto producto">
        </div>
    </div>
    <div>
        <div class="cuadrado" id="infoProducto">
            <div style="display: flex;">
                <p class="negrita">Id producto:&nbsp; </p>
                <p> {{producto.id}} </p>
            </div>
            <div style="display: flex;">
                <p class="negrita">Nombre del producto:&nbsp; </p>
                <p> {{producto.nombre}}</p>
            </div>
            <div style="display: flex;">
                <p class="negrita">Volumen por unidad:&nbsp; </p>
                <p> {{producto.volumen}}</p>
            </div>
            <div style="display: flex;">
                <p class="negrita">Precio unitario:&nbsp; </p>
                <p *ngIf="this.informacionRecibir[0] === 2">
                    {{ producto.precioOferta }}
                </p>
                <p *ngIf="this.informacionRecibir[0] === 1">
                    {{ producto.precioDemanda }}
                </p>
            </div>
            <div style="display: flex;">
                <p class="negrita">Cantidad maxima de productos:&nbsp; </p>
                <p>{{producto.max}}</p>
            </div>
        </div>
        <div class="ordenacionHorizontalDiv" id="seccionCompra">
            <div class="ordenacionVerticallDiv">
                <div class="cuadrado info">
                    <div style="display: flex;">
                        <p class="negrita">Total a pagar: &nbsp;</p>
                        <p>{{total}} </p>
                    </div>
                    <div style="display: flex;">
                        <p class="negrita">Volumen total:&nbsp;</p>
                        <p> {{volTotal}}</p>
                    </div>
                </div>
                <button  class="botonesAccion" routerLink="/comerciar">Regresar</button>
            </div>
            <div id="formComprar">
                <form (ngSubmit)="transaccion($event)" class="ordenacionVerticallDiv">
                    <div class="cuadrado">
                        <div id="cantidadDiv">
                            <button type="button" class="suma" (click)="borrar()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#0d0d0d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/></svg>
                            </button>
                            <input type="text" name="cantidad" id="editCantidad" type="number" [(ngModel)]="cantidad" min="0" step="1" placeholder="cantidad a productor" (input)="actualizarTotales()">
                            <button type="button" class="suma" (click)="aumentar()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#0d0d0d" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                            </button>
                         </div>
                    </div>
                    
                    <button type="submit" class="botonesAccion" id="botonCompra">
                        {{nombreBoton}}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<app-error *ngIf="error" [informacionRecibir]="notificacionText"  (cerrar)="AceptarError()"/>
<app-success *ngIf="success" [informacionRecibir]="notificacionText"  (cerrar)="AceptarSuccess()"/>
