<div id="container">
    <div id="success-box">
      <div class="dot" (click)="cerrarDiv()"></div>
      <div class="dot two"></div>
      <div class="face">
        <div class="eye"></div>
        <div class="eye right"></div>
        <div class="mouth happy"></div>
      </div>
      <div class="shadow scale"></div>
      <div class="message"><h1 class="alert">Listo!</h1><p>{{informacionRecibir}}</p></div>
      <button (click)="cerrarDiv()" class="button-box"><h1 class="green">Aceptar</h1></button>
</div>

