<div class="EstadisticasBar">
    <div class="navbar">
        <div class="left-divs">
            <div class="div-with-image">
                <img src="../../assets/star-icon.png" alt="Imagen del botón" width="24" height="24">
                <span>{{nave.nombreEstrella}}</span>
            </div>
            <div class="div-with-image">
                <img src="../../assets/planet-icon.png" alt="Imagen del botón" width="24" height="24">
                <span>{{nave.nombrePlaneta}}</span>
            </div>
            <div class="div-with-image">
                <img src="../../assets/money-icon.png" alt="Imagen del botón" width="24" height="24">
                <span>${{nave.creditos}}</span>
            </div>
            <div class="div-with-image">
                <img src="../../assets/clock-icon.png" alt="Imagen del botón" width="24" height="24">
                <span>{{nave.tiempoRestante}} l.y</span>
            </div>
            <div class="div-with-image">
                <img src="../../assets/clock-icon.png" alt="Imagen del botón" width="24" height="24">
                <span>{{nave.capadidadUtilizada}}/{{nave.capacidadMaxima}}</span>
            </div>
        </div>
        <div class="right-divs">
            <img [src]="usuarioDTO.avatar" alt="Imagen del botón" width="45" height="50">
            <a href="" class="div-with-image" id="navUsuario"  routerLink="">Cerrar Sesión</a>
        </div>
    </div>
</div>
