<div class="EstadisticasBar">
    <img src="../../assets/logo.png" alt="logo" class="logo">
    <div class="navlinks">
        <p id="EstrellaEstadistica" class="estadistica">ESTRELLA</p>
        <P id="EstrellaValue" class="value">{{nave.nombreEstrella}}</P>
        <p id="PlanetaEstadistica" class="estadistica">PLANETA</p>
        <P id="PlanetaValue" class="value">{{nave.nombrePlaneta}}</P>
        <p id="TiempoEstadistica" class="estadistica">TIEMPO RESTANTE</p>
        <P id="TiempoValue" class="value">{{nave.tiempoRestante}}</P>
        <p id="CreditosEstadistica" class="estadistica">CREDITOS</p>
        <P class="value">{{nave.creditos}}</P>
        <p id="CapacidadEstadistica" class="estadistica">CAPACIDAD</p>
        <P class="value">{{nave.capadidadUtilizada}}/{{nave.capacidadMaxima}}</P>
    </div>
    <img [src]="usuarioDTO.avatar" alt="perfil" id="FotoPerfil">
    <a href="" id="CerrarSesion" routerLink="">Cerrar Sesión</a>
</div>
