<div id="html_body">
    <app-barra-estadisticas/>
    <div>
        <ul class="flex-container space-evenly estrella" >
            <img src="../../assets/star.png">
        </ul>
        <ul class="flex-container space-evenly estrella" >
            <p>{{estrella.nombre}}</p>
        </ul>
        
    </div>
    <div>
        <ul class="flex-container space-evenly bottomBar" >
            <li class="flex-item">
                <button id="botonBottom">Costo de viaje: {{costo}} L.Y</button>
                <button (click)="viajar()"> Viajar</button>
            </li>
            <li class="flex-item">
                <button (click)="regresar()">Regresar</button>
            </li>
        </ul>
    </div>
</div>
